body {
    background-color: white;
    font-family: "Open Sans", sans-serif;
    padding: 20px;
  }
  
  h1 {
      margin: 20px;
  }
  
  label {
    display: block;
    padding-bottom: 10px;
    border-bottom: 1px solid #b52b65;
  }
  
  input {
    margin: 10px 0 20px 0;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.15);
    border: none;
    width: 240px;
    height: 30px;
    border-radius: 4px;
    padding: 6px;
  }
  
  h5 {
    margin: 0;
    display: inline;
    margin-top: 16px;
  }

  h4 {
    margin: 0;
    margin-bottom: 5px;
  }

  .product-forms {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    font-weight: bold;
  }

  .product-form,
  .product-form-1,
  .product-form-2,
  .product-form-3,
  .product-form-4 {
    font-weight: bold;
    border-radius: 8px;
    padding: 10px;
    margin: 20px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.15);
    width: 300px;
    background-color: #ffd0f8;
    text-align: center;
  }

  #submit-btn {
    margin: 20px 58px;
  }

  //.product-form-1,
  //.product-form-2,
  //.product-form-3,
  //.product-form-4 {
  //  display: none;
  //}
  
  .form-cena {
    display: flex;
    justify-content: space-between;
  
    label {
      display: inline;
    }
  }
  
  #input-cena {
      width: 122px;
  }

  .result-page {
    font-family: "Open Sans", sans-serif;
    background-color: #ececec;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.15);
    margin: 20px 10px;
    flex: 1;
  }

  .products-result {
    display: flex;
    justify-content: space-evenly;
  }

  .link-product {
    margin: 10px 0;
  }
  
  a {
    color: #b52b65;
  }

  .back-to-homepage {
    background-color: #ffd0f8;
    color: black;
    padding: 10px;
    width: 200px;
    text-decoration: none;
    text-align: center;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    margin: 20px 0;
    display: block;
  }


  